header{
    color: red;
    background-color: #008000;
    padding: auto;
    margin: 30%;
}

p{
    align-self: center;
    padding-left: 300px;
    margin-bottom: 250px;
    background-color: blue;
    color: rgb(236, 117, 6)
    
}
.box{
    width: 200; height: 200;
    border: solid 20px; border-radius: 20px;
 background-color: aqua;
    margin-top: 150px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 150px;
}