h1{
    box-shadow: 40px;
}
p{
    opacity: 0.6;
    
}
img{
    filter: blur(10px);
    background-image: url('img1.png');
    
    background-position: no-repeat;
}
img:hover{
    filter: blur(0px);
    
}