header{
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 11.3px;
    margin-left: 40px;
}
nav{
    background-color: green;
    text-align: left;
    align-self: auto;
    padding: 10px;
    margin-right: 40px;
    text-transform: capitalize;
    text-decoration: none;
}
nav:hover{
    background-color: darkgreen;
    
text-decoration: none;
    
}

ul{
    
    list-style: none;
}
a{
    color: white;
    text-decoration: none;
}
li{
    
    text-decoration: none;
}