.outer {
    background-color: yellow;
    border: 2px solid blue;
    padding: 10px;
    margin: 10px;
}

.container {
    background-color: aqua;
    border: 2px solid green;
    padding: 10px;
    margin: 10px;
}

.inner {
    background-color: blueviolet;
    border: 2px solid red;
    padding: 10px;
    margin: 10px;
}