@media only screen and (min-width: 1100px)  {
    

body{
    overflow: auto;
    background-color: beige;
    margin: 0;
}
.submit{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 40px;
    border-radius: 40px;
    width: 70%;
    background-image: linear-gradient(purple, blue);
    margin-inline: 20px;
    padding: 0;
}
.testimonials h3{
    background-color: beige;
    text-align: center;
    margin: 0;
    padding-top: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
}
.ContactUs{
    background-color:white;
    display: grid;
    grid-template-columns: auto auto;
    border-radius: 50px;
    
    margin-inline: 200px;
    margin-block: 100px;
    box-shadow: -1px 0px 22px 13px rgba(0,0,0,0.13);
}
input{
    margin: 10px;
    height: 40px;
    width: 75%;
    border: none;
    border-bottom: 3px solid rgb(203, 203, 203);
}
.ContactInfo{
    background-color: rgb(45, 45, 45);
    display: grid;
    row-gap: 10px;
    color: white;
    margin-block: 50px;
    border-radius: 50px 0 0 50px;
    padding: 50px;
    justify-self: end;
    width: 70%;
    margin-right: 0;
}
footer{
   display: grid;
   
   justify-content: space-evenly;
    
}
.Subscribe{
    
    text-align: left;
    color: white;
}
#address{
    width: 50%;
}
footer h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
    color:white;
}
.UsefulLinks{
    text-align: left;
}

.BirSuruYazi h6{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    margin-block: 5px;
    padding: 0;
    color: gray;
}
.BirSuruYazi{
    display: grid;
    grid-template-columns: auto auto;
    
    color: white;
}
.Subscribe h6{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
}
#adress{
    width: 200px;
}
.redarea{
    background-color: red;
}
.email{
    display: flex;
    flex-wrap: nowrap;
}
footer{
    display: grid;
    grid-template-columns: auto auto auto;
}
.sonsection{
    margin: 0;
    padding: 0;
}
.h5{
   
    text-align: center;
    background-color: rgb(32, 32, 32);
}
.h5 h5{
    
margin: 0;
padding-block: 1%;
}
.h5 span{
    color: red;
}
footer{
    background-color: rgb(21, 20, 20);
}
.ContactUsDiv{
    text-align: left;
    margin: 50px;
} 
.ContactUsDiv h2{
    color: white;
    margin-left: 10px;
   font-size: 3em;
    text-align: left !important;
}
.ContactUsDiv h3{
    margin-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.star-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
  .radio-input {
    position: fixed;
    opacity: 0;
    pointer-events: none;
  }
  
  .radio-label {
    cursor: pointer;
    font-size: 0;
    color: rgba(0,0,0,0.2);
    transition: color 0.1s ease-in-out;
  }
  
  .radio-label:before {
    content: "★";
    display: inline-block;
    font-size: 32px;
  }
  .radio-input:checked ~ .radio-label {
    color: #ffc700;
    color: gold;
  }
  
  .radio-label:hover,
  .radio-label:hover ~ .radio-label {
    color: goldenrod;
  }
  
  .radio-input:checked + .radio-label:hover,
  .radio-input:checked + .radio-label:hover ~ .radio-label,
  .radio-input:checked ~ .radio-label:hover,
  .radio-input:checked ~ .radio-label:hover ~ .radio-label,
  .radio-label:hover ~ .radio-input:checked ~ .radio-label {
    color: darkgoldenrod;
  }
.checked{
    color: orange;
}.Titem{
    margin: 40px;
    margin-top: 0;
    background-color: white;
   padding: 20px;
    text-align: center;
    box-shadow: -1px 0px 22px 13px rgba(0,0,0,0.13);
    
}
.Titem img{
    border-radius: 300px;
   width: 75px;
   height: 75px;
    
}

.Tcontainer{
    background-color: beige;
    display: grid;
    grid-template-columns: 450px 450px 450px;
    padding-block: 50px;
    justify-content: center;
    
}
.Tcontainer h4{
    
    color: black;
}

.logo{
    display: flex;
}
img{
    height: inherit;
}
.Heads img{
    height: 50px;
    width: 50px;
border-radius: 100%;
border: 3px solid white;

}
.logoImg{
    border-radius: 100%;
    background-color: white;
    
}
.left{
    
    display: grid;
    grid-template-columns: 50%;
    justify-content: space-between;
    margin-top: 15px;
    margin-left: 100px;
    margin-bottom: 50px;
    margin-right: -500px !important;
}
span{
    color: orange;
}
.service{
    color: red;
}
.Heads{
    display: grid;
grid-template-columns:37px 37px 37px 37px 37px 37px auto;

justify-content: start;
}
#spanH3{
    
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 25px;
}
nav{
    
    
    background-color: rgb(55, 53, 52);
    display: flex;
    height: 50px;  
    justify-content: space-evenly;
    padding: 5px;
}
.hero{
    background-color: beige;
    display: grid;
    grid-template-columns: auto auto;
}

a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    align-self: center;
    color: white;
}
a:hover{
    color: orange;
}
.navbar{
    

    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 7%;

    
 
}

.hero{
    display: flex;
    
justify-content: space-between;
}



.right img{
   margin-top: 30px !important;
    margin: 150px;
    width: 500;
    height: 500px;
}
h1{
   display: flex;
   justify-content: center;
   align-self: center;
}
h2{
    
    font-size: 400%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.heroP{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 200%;
    color: rgb(81, 81, 81);
}
button{
    background-color: orange;
    width: 150px;
    height: 150%;
    font-size: 150%;
    border-radius: 10px;
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
.services{
    background-color: #211F24;
}
h4,h5{
    color: white;
    
}
header{
    text-align: center;
    padding: 5%;

}
h4{ 
    padding: 0;
    padding-bottom: 2%;
    font-size: 2em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:3000;
}
h5{
    
    font-size: 2em;
    font-weight: 300;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    column-gap: 50px;
    row-gap: 100px;
    
    padding: 10%;
    padding-top: 0;
}
.item{
background-color: rgb(36,37,42);
text-align: left;
padding: 40px;

box-shadow: -1px 0px 22px 13px rgba(0,0,0,0.13);
}
.item p{
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header h3{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    
}
.itemheader{
    border-bottom: 2px solid black;
    margin: 0;
    padding: 0;
    text-align: left;
    
}
.itemheader img{
    height: 60px;
    width: 60px;
    border-radius: 1000px;
}}
@media only screen and (max-width: 1100px){
    

    body{
        overflow: auto;
        
        margin: 0;
    }
    
    .logo{
        display: none;
        grid-template-columns: auto;
        height: 0;
        justify-content: start;
        text-align: right;
    }
    img{
        height: inherit;
    }
    .Heads img{
        height: 50px;
        width: 50px;
    border-radius: 100%;
    border: 3px solid white;
    
    }
    .logoImg{
        height: 25%;
        
        border-radius: 100%;
        background-color: white;
        
    }
    .left{
        
        display: grid;
        grid-template-columns: auto;
       text-align: left;
       padding: 10px;
       
    }
    span{
        color: orange;
    }
    .service{
        color: red;
    }
    .Heads{
        display: grid;
    grid-template-columns:37px 37px 37px 37px 37px 37px auto;
    
    justify-content: start;
    }
    #spanH3{
        
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-left: 25px;
    }
    nav{
        
        background-color: rgb(55, 53, 52);
        display: grid;
        grid-template-columns: auto;
        
        
        padding: 5px;
    }
    .hero{
        background-color: beige;
        display: grid;
        grid-template-columns: auto;
    }
    
    a{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-decoration: none;
        align-self: center;
        color: white;
    }
    a:hover{
        color: orange;
    }
    .navbar{
        font-size: 2em;
        
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        gap: 7%;
    
        height: 150px;
     
    }
    body{
        padding: 0;
    }
    
    .hero{
        display: grid;
        grid-template-columns: auto;
    justify-content: space-between;
    }
    
    
    
    .right img{
       padding: 100px !important;
        padding: 150px;
        width: 250px;
        height: 250px;
    }
    h1{
       display: flex;
       justify-content: center;
       align-self: center;
    }
    h2{
        
        font-size: 400%;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }
    .heroP{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 200%;
        color: rgb(81, 81, 81);
    }
    button{
        background-color: orange;
        width: 100px;
        height: 100%;
        font-size: 100%;
        border-radius: 10px;
        color: white;
        border: none;
        justify-self: center;
        padding-top: 10px;
        padding-bottom: 10px;
        
    }
    .services{
        background-color: #211F24;
    }
    h4,h5{
        color: white;
        
    }
    header{
        text-align: center;
        padding: 5%;
    
    }
    h4{ 
        padding: 0;
        padding-bottom: 2%;
        font-size: 2em;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight:3000;
    }
    h5{
        
        font-size: 2em;
        font-weight: 300;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom:0;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    }
    .container{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        column-gap: 50px;
        row-gap: 100px;
        
        padding: 10%;
        padding-top: 0;
    }
    .item{
    background-color: rgb(36,37,42);
    text-align: left;
    padding: 40px;
    
    box-shadow: -1px 0px 22px 13px rgba(0,0,0,0.13);
    }
    .item p{
        color: white;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    header h3{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;
        
    }
    .itemheader{
        border-bottom: 2px solid black;
        margin: 0;
        padding: 0;
        text-align: left;
        
    }
    .itemheader img{
        height: 60px;
        width: 60px;
        border-radius: 1000px;
    }

}