:root{
    --primary-color: aqua;
    --secondary-color:white;
    --text-color: black;
}
header{
    
    background-color:  #003400;
    text-align: center;
    color: whitesmoke
    
    
}
table{
    width: 100%;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;    
}
h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
div{
    background-color: bisque;
}
th,tr,td{
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 0cap solid grey;
    
    padding-right: 50px;
    padding-left: 50px;
}
th{
    background-color: rgb(1, 66, 66);
    color: white;
    font-weight: lighter;
    padding-top: 5px;
    padding-bottom: 5px;
}
td{
    background-color: bisque;
    color: black;
    padding: 5px;

}
ul{

    list-style-type:circle;
    color: var(--text-color);
}